@import "animations.css";
@import "reset.css";

:root {
  --background-color: #243a3a;
  --style-color: #f6a217;
  --dark-color: #262626;
  --light-color: rgb(234, 234, 234);
  --transparent-background: rgba(0, 0, 0, 0.127);
}

/* global */
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-color);
}

.background-image {

  background-image: url("/images/background_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero, nav, .wrapper {
  max-width: max(280px, 80vw);
  margin: auto;
}

.wrapper {
  max-width: 90%;
  margin: auto;
}

button {
  border-style: none;
}

button:hover {
  cursor: pointer;
  opacity: 80%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--style-color);
}

* + p, p + p {
  margin-top: 1em;
}


/* Typography */

h1 {
  font-family: sans-serif;
  font-size: clamp(1.6rem, 7vw, 2.5rem);
  color: var(--light-color);
  font-weight: 600;
  line-height: 1;
  margin: .2em 0;
}

h2, h3 {
  font-family: "Nunito", sans-serif;
  color: var(--light-color);
  font-weight: 500;
}

h2 {
  font-size: clamp(1.4rem, 5vw, 2rem);
}

h3 {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
}

p {
  font-family: "Nunito", sans-serif;
  color: var(--light-color);
}

/* header */

.logo {
  height: 4em;
}

nav {
  display: flex;
  width: 100%;
}

.nav__items {
  margin-top: 2em;
  display: flex;
  width: 100%;
  color: var(--style-color);
  justify-content: space-between;
}

#button-login {
  background-color: rgba(0, 0, 0, 0);
  color: var(--light-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.buttons i {
  font-size: 1.5em;
  color: var(--light-color);
  background-color: var(--transparent-background);
  padding: .8em;
  margin-left: 1em;
}

/* footer */



.footer_contact {
  text-align: center;
}

footer a {
  color: var(--light-color);
  text-decoration: none;
  font-size: 2.5em;
  margin: 0 1%;
  border-radius: 5px;
}

.logo__container {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

footer img {
  height: 50px;
  width: 120px;
  cursor: pointer;
}

footer {
  margin: 4em 0 4em;
}


/* =============
   front page 
================ */

/* Hero */

.hero {
  margin-top: 10em;
}

.slogan {
  font-size: clamp(.6rem, 4vw, 1.5rem);
  display: inline-flex;
  padding: .4em;
  background-color: var(--transparent-background);
  letter-spacing: 2.7px;
  text-transform: uppercase;
  line-height: 1;
}

.cta {
  margin-top: 3em;
  display: flex;
  background-color: var(--transparent-background);
  color: var(--light-color);
  font-size: clamp(1.5rem, 4vw, 2rem);
  align-items: center;
  padding: .3em 1em;
}

.cta img {
  height: 1em;
  margin-left: 1em;
}

/* Films */

.wrapper {
  min-height: fit-content;
}

.films {
  position: relative;
  padding: 2em 0;
  width: 100%;
  margin: 2em 0;
}

.films::after {
  content: "";
  background-color: var(--transparent-background);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.films::before {
  content: "";
  position: absolute;
  background-color: var(--transparent-background);
  left: 0;
  top: 0;
  height: 100%;
  width: max(100px, 30%);
  z-index: -1;
}

.film-container, .film-suggestions {
  display: flex;
  max-width: 100%;
  gap: 1em;
  flex-wrap: wrap;
}

.film-card {
  flex: 1 0 250px;
  min-height: 170px;
  background-size: cover;
  background-position: center center;
  position: relative;
}


.anchor {
  width: 100%;
  height: 100%;
}

.film-card h3 {
  position: absolute;
  background-color: var(--dark-color);
  display: inline;
  padding: .5em 1em;
  bottom: 0;
}

/* Details */ 

.details-body a {
  background-color: var(--transparent-background);
  padding: .2em .5em;
  color: var(--light-color);
  position: relative;
}

.suggest-header {
  margin-top: 1em;
}

a + a {
  margin-left: .5em;
}

.details-image {
  position: relative;
}

.synopsis {
  font-style: italic;
  font-family: sans-serif;
}

#purchase-button {
  position: absolute;
  width: 4em;
  height: 4em;
  padding: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: .9;
}

.play-button {
  width: 4em;
  height: 4em;
  z-index: 1;
}

/* form */
.success {
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  background-color: var(--light-color);
  align-items: center;
  margin: 20%;
  padding: 5px 1em;
  border-radius: 5px;
  border: 6px solid var(--style-color);
}

.success img {
  width: 30%;
  padding: 10px 0.5em 0 0.5em;
}

.success a {
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.success img:hover {
  background-color: #fff;
  border-radius: 5px;
}

input:valid + .errorMessage {
  display: none;
}

input:invalid + .errorMessage {
  display: block;
}

input:valid {
  border: 3px solid green;
}

.errorMessage {
  color: rgb(124, 124, 124);
  font-size: 12px;
}

label {
  display: block;
  margin-top: 1em;
  color: var(--light-color);
}

input,
select {
  font-size: 16px;
  padding: 3px;
  display: block;
  background-color: var(--transparent-background);
  border-style: none;
  color: var(--light-color);
}

#login-register {
  position: relative;
  top: -18px;
}
/* Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 5px;
  z-index: 5;
  background-color: rgba(52, 52, 52, 0.968);
  width: 500px;
  max-width: 80%;
  backdrop-filter: blur(100px);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--style-color);
  color: var(--light-color);
}

.modal-header .close-button {
  cursor: pointer;
  background-color: var(--transparent-background);
  width: 25px;
  height: 25px;
  color: var(--light-color);
  border-style: none;
}

.modal-body {
  margin: 3em 0;
  display: flex;
  justify-content: center;
}

.modal-body button {
  --background-color: #717171;
  width: 100%;
  background-color: var(--transparent-background);
  border-style: none;
  height: 30px;
  color: var(--light-color);
  margin: 1em 0;
  border: 2px solid var(--background-color);
}
.button-container {
  margin: 5em 0 0;
}

hr {
  color: var(--transparent-background);
  height: 1px;
  width: 100% + 2em;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* utilities */

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 30vh 0 40vh 0;
}

.refresh {
  background-color: var(--style-color);
  color: #fff;
  padding: 5px 10px;
}

.active-nav {
  text-decoration: underline;
}



@media only screen and (max-width: 999px) {

  .details-body h1 {
    margin-top: 1em;
  }

  .nav__items {
    padding: 0 0 1em;
    border-bottom: 2px solid var(--transparent-background);
  }

  .hero {
    margin-top: 5em;
  }
  
  .cta {
    margin: 3em auto;
  }

  .films {
    margin: 0 0;
  }

}

@media only screen and (max-width: 450px) {
  
  .nav__items {
    margin-top: 1em;
    padding: 0 0 .6em;
  }

  .logo {
    height: 2rem;
  }

  #button-login i {
    font-size: .9em;
  }

  .background-image {
    background-position: 80%;
  }

}

@media only screen and (min-width: 1000px) {
  .hero-container {
    max-width: 60%;
  }

  .cta {
    margin: 5em 0 7em;
  }

  .details-film {
    display: flex;
  }

  .details-image {
    max-width: 50%;
  }

  .details-body {
    max-width: 50%;
    padding: 0em 2em;
  }
}


@media only screen and (min-width: 1440px) {
  
  .hero, nav, .wrapper {
    max-width: 1366px;
  }
}
