@import "animations.css";

:root {
  --style-color: #475765;
  --dark-color: #373736;
  --light-color: rgb(250, 250, 250);
  --accent-color: #eaeaea;
}

/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1100px;
  margin: auto;
}

h2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 14px;
}

h3 {
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}

.top {
  margin-top: 3em;
}

.margin-top-small {
  margin-top: 1.5em;
}

.margin-bottom-small {
  margin-bottom: 1.5em;
}

.margin-right {
  margin-right: 1em;
}

/* header */

.breadcrumb__nav {
  margin-left: 5px;
}

nav {
  height: 45px;
  border-bottom: 5px solid var(--style-color);
}

.logo {
  height: 30px;
  margin: 5px 0 0 2px;
  background-color: var(--light-color);
}

.nav__items {
  width: 100%;
  height: 40px;
  align-items: center;
  color: var(--style-color);
  justify-content: end;
}

#button-login {
  margin: 0 5px 0 10px;
}
.nav__items a {
  color: var(--style-color);
  text-decoration: none;
  margin-left: 10px;
}

/* footer */

.footer_contact {
  text-align: center;
  margin: 1em;
}

footer a {
  color: var(--style-color);
  text-decoration: none;
  font-size: 30px;
  margin: 0 2%;
  padding: 5px 15px;
  border-radius: 5px;
}

.logo__container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

footer img {
  height: 50px;
  width: 120px;
}

/* front page */

.signup__wrapper {
  margin: 10px;
  margin-top: 6em;
}

.promo__logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.buttons {
  background-color: var(--style-color);
  border-style: none;
  padding: 7px 10px;
  color: var(--light-color);
  border-radius: 5px;
  cursor: pointer;
}

#button-register {
  font-size: 30px;
}

.buttons i {
  margin-left: 10px;
}

.signup__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.promo__container,
.favorite__container {
  justify-content: center;
  align-items: center;
}

.promo__card {
  transform: scale(0.9);
  box-shadow: 0 0 10px 1px var(--dark-color);
}

.promo__img {
  height: 450px;
}

.promo__card:hover {
  transform: scale(1);
}

/* Movies */

section {
  flex-wrap: wrap;
  justify-content: center;
}

.card img {
  height: 250px;
}

.card {
  transform: scale(0.9);
}

.card:hover {
  transform: scale(1);
}

.play__container {
  position: relative;
}

.play__info {
  position: absolute;
}

.play__info img {
  width: 50px;
  height: 50px;
}

/* details */

.details__wrapper {
  margin: 1em;
}

.details__card {
  display: flex;
  justify-content: center;
}

.details__content {
  margin: 2em;
}

.details__image img {
  border-radius: 5px;
}

.poster {
  height: 250px;
  transform: scale(0.9);
}

.poster:hover {
  transform: scale(1);
}

.reviews__container {
  margin: 1em;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
}

.reviews__container i {
  color: var(--style-color);
}

.data {
  text-align: right;
}

.purchase__buttons {
  justify-content: space-evenly;
}

.purchase__button {
  padding: 15px 70px;
  background-color: var(--style-color);
  color: var(--light-color);
  border-radius: 5px;
  justify-content: center;
  font-size: 18px;
  float: right;
}

.purchase__button:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}

/* form */

.success {
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  background-color: var(--accent-color);
  align-items: center;
  margin: 20%;
  padding: 5px 1em;
  border-radius: 5px;
  border: 6px solid var(--style-color);
}

.success img {
  width: 30%;
  padding: 10px 0.5em 0 0.5em;
}

.success a {
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.success img:hover {
  background-color: #fff;
  border-radius: 5px;
}

input:valid + .errorMessage {
  display: none;
}

input:invalid + .errorMessage {
  display: block;
}

input:valid {
  border: 3px solid green;
}

.errorMessage {
  color: rgb(186, 13, 13);
  font-size: 12px;
}

label {
  display: block;
  margin-top: 1em;
}
input,
select {
  border: solid 1px var(--style-color);
  font-size: 16px;
  padding: 3px;
}

#login-register {
  position: relative;
  top: -18px;
}

/* community */

.creator-details {
  justify-content: end;
}

.creator__container {
  min-width: 290px;
  justify-content: center;
  margin: 3em 1em 1em 1em;
  padding: 1.5em;
  background-color: var(--accent-color);
}

.creator-image img {
  max-width: 98%;
}

/* Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 3px solid var(--style-color);
  border-radius: 5px;
  z-index: 5;
  background-color: var(--accent-color);
  width: 500px;
  max-width: 80%;
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--style-color);
}

.modal-header .close-button {
  cursor: pointer;
  background-color: var(--style-color);
  width: 25px;
  height: 25px;
  color: var(--light-color);
  border-style: none;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-body button {
  width: 100%;
  background-color: var(--style-color);
  border-style: none;
  height: 30px;
  color: var(--light-color);
  margin: 2em 0 2em 0;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* utilities */
.active-nav {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--style-color);
}

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}

.top {
  margin-top: 3em;
}

.margin-top-small {
  margin-top: 1.5em;
}

.margin-bottom-small {
  margin-bottom: 1.5em;
}

.margin-right {
  margin-right: 1em;
}

li {
  list-style: none;
}
@media (max-width: 960px) {
  .details__card {
    flex-direction: column;
  }
  .details__image {
    justify-content: center;
  }

  .details__image img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .flex {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  #button-login {
    margin-right: 0;
  }

  .buttons i {
    margin-left: 5px;
  }

  h2 {
    margin-top: 10px;
    margin-left: 10px;
    top: 0;
  }

  .card,
  .promo__card {
    transform: scale(1);
  }

  .promo__card {
    box-shadow: none;
  }

  .bottom-section,
  h2,
  .favorite__container,
  .container__drama,
  .container__scifi,
  .container__action,
  .container__thriller,
  .container__fantasy,
  .promo__container {
    justify-content: left;
  }
}
