:root {
  --style-color: #475765;
  --dark-color: #373736;
  --light-color: #fff;
  --accent-color: #eaeaea;
}

/* global */

body {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-gap: 0;
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  font-size: 36px;
  margin-top: 2em;
  font-weight: normal;
  text-align: center;
  position: relative;
  top: 0.5em;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-size: 25px;
  text-align: center;
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

p {
  margin: 0;
}

p a {
  text-decoration: none;
  color: var(--style-color);
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

header,
footer {
  background-color: var(--accent-color);
  height: 40px;
  border-radius: 5px;
  width: 80%;
  position: sticky;
  margin: auto;
  top: 1em;
  z-index: 99;
  box-shadow: 0 0 10px 1px var(--style-color);
}

footer {
  height: fit-content;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* header */

.logo {
  height: 30px;
  width: 90px;
  margin: 5px 5px 0 5px;
  border-right: 1px solid var(--dark-color);
  float: left;
}

.logo:hover {
  cursor: pointer;
  opacity: 80%;
}

/* Navigation */

.tags__nav {
  background-color: var(--style-color);
  display: flex;
  overflow: scroll;
  color: #fff;
  position: relative;
  border-radius: 5px;
  width: 100%;
  top: 10px;
  box-shadow: 0px 1px 10px var(--style-color);
}

.tags__nav a {
  text-decoration: none;
  color: var(--light-color);
  padding: 0 15px;
}

.active__tag {
  border-bottom: solid 2px var(--light-color);
}

.profile {
  position: absolute;
  right: 7px;
  top: 4.5px;
  margin: 0;
  background-color: var(--style-color);
  color: var(--light-color);
  padding: 4px 9px;
  border-radius: 5px;
}

.profile i {
  margin-left: 10px;
}

.profile a {
  text-decoration: none;
}

/* front page */

.promo {
  margin: 0 5% 4em 5%;
}

.promo img {
  height: 60px;
  width: 140px;
  margin-top: 0.5em;
}

.promotion__content {
  text-align: center;
  position: relative;
  top: 5em;
  background-color: var(--light-color);
  border: solid var(--style-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 0 3em 0;
}

.cta_promo {
  text-decoration: none;
  font-size: 30px;
  background-color: var(--style-color);
  color: var(--light-color);
  padding: 0.3em 1.5em;
  position: relative;
  top: 0.9em;
  border-radius: 5px;
}

.featured__filmmaker {
  width: 80%;
  margin: auto;
  margin-top: 0.5em;
}

.featured {
  width: 60%;
  margin: auto;
}

.featured__title {
  margin-top: 4em;
}

.featured p {
  text-align: center;
  margin: 1em;
}

.filmmaker {
  flex: 20%;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
}

.filmmaker__content h3 {
  margin-top: 1em;
}

.filmmaker img,
.thumbnail img {
  width: 100%;
  height: auto;
  transition: opacity ease 1s;
}

/* explore */

.card {
  flex: 20%;
  box-shadow: 0 0 10px 1px var(--accent-color);
  text-align: center;
  margin: 1em;
  border-radius: 5px;
  background-color: var(--light-color);
}

.card a {
  text-decoration: none;
  color: var(--style-color);
}

.thumbnail img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.title {
  position: relative;
  top: -0.3em;
}

.tags a {
  background-color: var(--style-color);
  text-decoration: none;
  color: var(--light-color);
  margin: 5px;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  top: -5px;
}

/* Movie Page */

.movie_background {
  background-image: url(images/Anasdilemma_moviepage.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.container__moviepage {
  float: right;
  position: relative;
  right: 5.4%;
  width: 20em;
  height: 90vh;
  background: var(--light-color);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.moviepage__header {
  position: relative;
  top: 15vh;
  text-align: right;
  margin-right: 2em;
}

.moviepage__header a {
  text-decoration: none;
  color: var(--style-color);
}

.moviepage__info {
  position: relative;
  top: 15vh;
  text-align: left;
  margin: 2em 2em;
}

.moviepage__cta {
  text-align: center;
  margin-top: 5em;
}

.moviepage__cta a {
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--style-color);
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
}

.moviepage__cta i {
  margin-right: 0.5em;
}

/* form */

.form_background {
  background-image: url("images/promo_background.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.form__container {
  text-align: center;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 1em 0;
  margin: 7em 20% 3em 20%;
  box-shadow: 0 0 10px 1px var(--style-color);
}

label {
  display: block;
  margin-top: 1em;
}

form p,
form h1 {
  margin: 5px 10px;
}

input,
select {
  text-align: center;
  border: solid 1px var(--style-color);
  border-radius: 5px;
  font-size: 16px;
  padding: 3px;
}

button {
  background-color: var(--style-color);
  color: var(--light-color);
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  width: 100%;
  height: 2em;
  border: none;
  font-size: 20px;
}

.form__container a {
  color: var(--style-color);
  text-decoration: none;
}

.tos {
  margin-top: 1em;
}

/* footer */

.footer_contact {
  text-align: center;
  margin: 1em;
}

footer a {
  color: var(--style-color);
  text-decoration: none;
  font-size: 30px;
  margin: 0 2%;
  padding: 5px 15px;
  border-radius: 5px;
}

.logo__container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 1em;
}

footer img {
  height: 50px;
  width: 120px;
}

/* hover */

a:hover,
button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  cursor: pointer;
}

.card:hover {
  opacity: 80%;
}

@media only screen and (max-width: 910px) {
  .card {
    flex: 40%;
  }

  .form__container {
    margin: 9em 10% 3em 10%;
  }

  .movie_background {
    background-position-x: 20%;
    background-position-y: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 100%;
  }

  .featured__filmmaker {
    width: 100%;
    margin: auto;
    margin-top: 0.5em;
  }
  .featured {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 1980px) {
  body {
    width: 1980px;
    margin: auto;
  }
}
